//files
src/outputs/lang/defining_languages.js
src/outputs/lang/langs_lister.js
src/Options/options_lister.js
src/arrange/templates_list/templates_lister.js
test/**
build/**

//memos
devmemo
tags
todo
versionmemo

/github
_config.yml
.gitignore