<!DOCTYPE html>
<html>

<head>
  <!--page_title-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Rubik:ital@1&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="./assets/js.js" async>
  </script>
  <link rel="stylesheet" type="text/css" href="./assets/css.css">
  <!--custom_metas-->
  <!--custom_css-->
  <!--custom_script-->
</head>

<body>
  <div id="wrapper">
    <div id="main">
      <header>
        <!--h1_page_title-->
      </header>
      <div id="g-navi">
        <!--g-navi-links-->
      </div>
      <div id="about">
        <!--version-->
        <!--about_html-->
        <!--notifications-->
      </div>
      <!--documentation-->
    </div>
</body>

</html>